* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

.room-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 40px;
  flex-wrap: wrap;
}

.room-button {
  padding: 10px 20px;
  background-color: wheat;
  color: var(--secondary-font-color);
  cursor: pointer;
  margin: 0 10px;
}

.not-ready-btn,
.ready-btn,
.leave-room-button,
.add-room-button,
.join-btn {
  width: auto;
  height: 30px;
  border: black solid 2px;
  border-radius: 3px;
  background-color: wheat;
  z-index: 2;
}

.not-ready-btn:hover,
.ready-btn:hover,
.leave-room-button:hover,
.add-room-button:hover,
.join-button:hover {
  background-color: darkkhaki;
}

.leave-room-button,
.add-room-button {
  margin-left: 50px;
}
h1,
h2 {
  width: 100%;
  text-align: center;
}
.room-item-container {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  border: black solid 2px;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .room-item-container :hover {
  background-color: darkkhaki;
} */
.room-item-container p:nth-of-type(1) {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
}
.join-btn {
  margin-bottom: 15px;
  width: 70%;
}
.room-item-container > .join-btn :hover {
  background-color: black;
  font-size: 20px;
}
.gameContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.textSquare {
  width: 60%;
  border: black solid 3px;
  border-radius: 5px;
  min-height: 300px;
  position: relative;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.userItem > span {
  margin-left: 15px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.userItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-rows: 25px 25px;
  grid-template-columns: 30px;
  grid-gap: 5px;
  padding: 10px;
  position: relative;
}

.ready-status-red,
.ready-status-green {
  width: 14px;
  height: 14px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  border-radius: 7px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ready-status-red {
  background-color: brown;
}
.ready-status-green {
  background-color: chartreuse;
}

.user-progress {
  color: #fff;
  background-color: #ffffff;
  border: black solid 2px;
  height: 18px;
  border-radius: 9px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}
.finished {
  border: chartreuse solid 4px;
}

.timer-before,
.not-ready-btn,
.ready-btn {
  height: auto;
  vertical-align: middle;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timer-before {
  color: green;
  font-size: 50px;
  text-shadow: 0px 0px 10px gray;
}

.timer-while {
  color: black;
  font-size: 15px;
  text-shadow: 0px 0px 10px gray;
  width: 100%;
  text-align: end;
  padding: 5px;
}

#spanContainer {
  position: absolute;
  display: block;
  top: 30px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.colored-span {
  background-color: chartreuse;
}
.spanAfter {
  border-bottom: solid 2px chartreuse;
}

.finish-modal {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .modalContent {
  max-height: 30%;
  overflow: auto;
}
